openapi: 3.0.1
info:
  title: Thatch for Platforms API
  description: >
    <p><a href="https://thatch.com/platforms">Thatch for Platforms</a> is a set
    of APIs and

    embeddable components, enabling you to effortlessly bring ICHRA (Individual
    Coverage Health

    Reimbursement Arrangement) benefits to your customers.</p><p>Thatch for
    Platforms is only

    available to specific partners. Get in touch with us at

    <a href="mailto:platforms@thatch.com">platforms@thatch.com</a> to set up an
    account.</p>
  version: ''
servers:
  - url: //partners.thatchcloud.com/api/partners/v1/
security:
  - Bearer: []
tags:
  - name: Pay Schedules
    description: >-
      Pay schedules model the cadence of employee paychecks for the purpose of
      deduction calculations.
  - name: Deductions
    description: |
      Payroll deductions track the costs of plan premiums
      to employees.
  - name: Employees
    description: >
      Employees work for employers, both of which are managed

      by partners. Employees enrolled in plans are also represented in Thatch as
      member objects.
  - name: Employers
    description: |
      Platforms onboard employers into Thatch, and have employees
      enrolled in plans.
  - name: Employer onboarding sessions
    description: >
      Employers onboard into a platform through

      employer onboarding sessions. After creating a session, provide the
      `claim_url` to the

      onboarding iframe in your app.
  - name: Enrollments
    description: Enrollments use member objects to track employee coverage status.
  - name: Members
    description: >
      Members represent employees enrolled in plans. Thatch creates member

      objects automatically, but you can retrieve them (for example, to aid in
      supporting an enrolled employee.
paths:
  /deductions:
    get:
      tags:
        - Deductions
      summary: List employee payroll deductions
      description: List employee payroll deductions
      operationId: getDeductions
      parameters:
        - name: employer_id
          in: query
          description: Employer ID
          required: true
          schema:
            type: string
          example: empl_01j9w59xh2p5d03z0zxgcv2vag
        - name: page[number]
          in: query
          description: Page number
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: page[size]
          in: query
          description: >-
            Number of items per page. Must be between 1 and 1,000 (inclusive).
            Defaults to 20.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: periods[start_after]
          in: query
          description: Periods with pay date on or after date, in ISO 8601 format
          schema:
            type: string
            format: date
          example: '2024-01-01'
        - name: periods[end_before]
          in: query
          description: Periods with pay date on or before date, in ISO 8601 format
          schema:
            type: string
            format: date
          example: '2024-01-01'
      responses:
        '200':
          description: List employee payroll deductions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeeDeductionsList'
  /employers:
    get:
      tags:
        - Employers
      summary: List employers
      description: List employers
      operationId: getEmployers
      parameters:
        - name: page[number]
          in: query
          description: Page number
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: page[size]
          in: query
          description: >-
            Number of items per page. Must be between 1 and 1,000 (inclusive).
            Defaults to 20.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        '200':
          description: List employers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployerList'
    post:
      tags:
        - Employers
      summary: Create an employer
      description: Create an employer
      operationId: postEmployers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postEmployers'
        required: true
      responses:
        '201':
          description: Create an employer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employer'
      x-codegen-request-body-name: postEmployers
  /employers/{employer_id}:
    get:
      tags:
        - Employers
      summary: Get an employer
      description: Get an employer
      operationId: getEmployersEmployerId
      parameters:
        - name: employer_id
          in: path
          description: Employer ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get an employer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employer'
    patch:
      tags:
        - Employers
      summary: Update an employer
      description: Update an employer
      operationId: patchEmployersEmployerId
      parameters:
        - name: employer_id
          in: path
          description: Employer ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchEmployersEmployerId'
        required: true
      responses:
        '200':
          description: Update an employer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employer'
      x-codegen-request-body-name: patchEmployersEmployerId
  /employers/{employer_id}/pay_schedules:
    get:
      tags:
        - Pay Schedules
      summary: List pay schedules
      description: List pay schedules for an employer
      operationId: getEmployersEmployerIdPaySchedules
      parameters:
        - name: employer_id
          in: path
          required: true
          schema:
            type: string
        - name: include_deactivated
          in: query
          description: Include deactivated pay schedules
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List pay schedules for an employer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaySchedule'
    post:
      tags:
        - Pay Schedules
      summary: Create a pay schedule
      description: Create a pay schedule
      operationId: postEmployersEmployerIdPaySchedules
      parameters:
        - name: employer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postEmployersEmployerIdPaySchedules'
        required: true
      responses:
        '201':
          description: Create a pay schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaySchedule'
      x-codegen-request-body-name: postEmployersEmployerIdPaySchedules
  /employers/{employer_id}/pay_schedules/{pay_schedule_id}:
    get:
      tags:
        - Pay Schedules
      summary: Get a pay schedule
      description: Get a specific pay schedule
      operationId: getEmployersEmployerIdPaySchedulesPayScheduleId
      parameters:
        - name: employer_id
          in: path
          required: true
          schema:
            type: string
        - name: pay_schedule_id
          in: path
          description: Pay schedule ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get a specific pay schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaySchedule'
    delete:
      tags:
        - Pay Schedules
      summary: Deactivate a pay schedule
      description: Deactivate a pay schedule
      operationId: deleteEmployersEmployerIdPaySchedulesPayScheduleId
      parameters:
        - name: employer_id
          in: path
          required: true
          schema:
            type: string
        - name: pay_schedule_id
          in: path
          description: Pay schedule ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deactivated pay schedule
          content: {}
    patch:
      tags:
        - Pay Schedules
      summary: Update a pay schedule
      description: Update a pay schedule
      operationId: patchEmployersEmployerIdPaySchedulesPayScheduleId
      parameters:
        - name: employer_id
          in: path
          required: true
          schema:
            type: string
        - name: pay_schedule_id
          in: path
          description: Pay schedule ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/patchEmployersEmployerIdPaySchedulesPayScheduleId
        required: true
      responses:
        '200':
          description: Update a pay schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaySchedule'
      x-codegen-request-body-name: patchEmployersEmployerIdPaySchedulesPayScheduleId
  /employees:
    get:
      tags:
        - Employees
      summary: List employees
      description: List employees
      operationId: getEmployees
      parameters:
        - name: employer_id
          in: query
          description: ID of the employee's employer
          schema:
            type: string
        - name: page[number]
          in: query
          description: Page number
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: page[size]
          in: query
          description: >-
            Number of items per page. Must be between 1 and 1,000 (inclusive).
            Defaults to 20.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        '200':
          description: List employees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeeList'
    post:
      tags:
        - Employees
      summary: Create an employee
      description: Create an employee
      operationId: postEmployees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postEmployees'
        required: true
      responses:
        '201':
          description: Create an employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
      x-codegen-request-body-name: postEmployees
  /employees/{id}:
    get:
      tags:
        - Employees
      summary: Get an employee
      description: Get an employee
      operationId: getEmployeesId
      parameters:
        - name: id
          in: path
          description: Employee ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get an employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
    patch:
      tags:
        - Employees
      summary: Update an employee
      description: Update an employee
      operationId: patchEmployeesId
      parameters:
        - name: id
          in: path
          description: Employee ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchEmployeesId'
        required: true
      responses:
        '200':
          description: Update an employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
      x-codegen-request-body-name: patchEmployeesId
  /employer_onboarding_sessions:
    post:
      tags:
        - Employer onboarding sessions
      summary: Create an employer onboarding session
      description: Create an employer onboarding session
      operationId: postEmployerOnboardingSessions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postEmployerOnboardingSessions'
        required: true
      responses:
        '201':
          description: Create an employer onboarding session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployerOnboardingSession'
      x-codegen-request-body-name: postEmployerOnboardingSessions
  /enrollments:
    get:
      tags:
        - Enrollments
      summary: List enrollments
      description: List enrollments
      operationId: getEnrollments
      parameters:
        - name: page[number]
          in: query
          description: Page number
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: page[size]
          in: query
          description: >-
            Number of items per page. Must be between 1 and 1,000 (inclusive).
            Defaults to 20.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: member_id
          in: query
          description: Member ID
          schema:
            type: string
          example: mbr_01j7h53qa133q71z25n7a3w0n4
        - name: status
          in: query
          description: Enrollment status
          schema:
            type: string
            enum:
              - in_member_cart
              - member_confirmed
              - submission_processing
              - carrier_processing
              - completed
              - canceled
          example: completed
      responses:
        '200':
          description: List enrollments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEnrollmentList'
  /enrollments/{id}:
    get:
      tags:
        - Enrollments
      summary: Get an enrollment
      description: Get an enrollment
      operationId: getEnrollmentsId
      parameters:
        - name: id
          in: path
          description: Enrollment ID
          required: true
          schema:
            type: string
          example: enrlmt_01j7h53qgy8m2q1f7563hbvpqj
      responses:
        '200':
          description: Get an enrollment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
  /members:
    get:
      tags:
        - Members
      summary: List members
      description: List members
      operationId: getMembers
      parameters:
        - name: page[number]
          in: query
          description: Page number
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: page[size]
          in: query
          description: >-
            Number of items per page. Must be between 1 and 1,000 (inclusive).
            Defaults to 20.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        '200':
          description: List members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMemberList'
  /members/{id}:
    get:
      tags:
        - Members
      summary: Get a member
      description: Get a member
      operationId: getMembersId
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get a member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
components:
  schemas:
    PaginatedEmployeeDeductionsList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeDeduction'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: PaginatedEmployeeDeductionsList model
    EmployeeDeduction:
      required:
        - employee_id
      type: object
      properties:
        employee_id:
          type: string
          description: >-
            The unique identifier for the employee associated with the
            deductions
          example: employee_01j85kpd8yxkabyrm83d3h2ya3
        periods:
          type: array
          items:
            $ref: '#/components/schemas/DeductionPeriod'
    DeductionPeriod:
      required:
        - end_date
        - start_date
      type: object
      properties:
        start_date:
          type: string
          description: Start date of the period (aligned to the start of the month)
          example: '2024-05-01'
        end_date:
          type: string
          description: End date of the period (aligned to the end of the month)
          example: '2024-05-31'
        deductions:
          type: array
          description: >-
            Deductions for the period.  There should always be two
            DeductionAmount records. In general, one will be $0 and the other
            will be non-zero. However, employees could end up with only a
            portion of their deduction being eligible to be Section 125 pre-tax.
            If that happens, the remainder would be post-tax.
          items:
            $ref: '#/components/schemas/DeductionAmount'
    DeductionAmount:
      required:
        - amount
        - type
      type: object
      properties:
        amount:
          type: object
          description: Amount of the deduction
          allOf:
            - $ref: '#/components/schemas/Money'
        type:
          type: string
          description: Type of the deduction
          example: s125_pretax
          enum:
            - s125_pretax
            - posttax
        applied_correction:
          type: object
          description: Applied correction
          allOf:
            - $ref: '#/components/schemas/Money'
    Money:
      required:
        - amount
        - currency_code
      type: object
      properties:
        amount:
          type: integer
          description: >-
            Amount as an integer in the smallest currency unit (e.g. 100 cents
            for $1.00)
          format: int32
          example: 1099
        currency_code:
          type: string
          description: Three-letter ISO currency code
          example: USD
    Pagination:
      required:
        - current_page
        - next_page
        - prev_page
        - total_pages
        - total_records
      type: object
      properties:
        total_records:
          type: integer
          description: Total number of records
          format: int32
          example: 25
        current_page:
          type: integer
          description: Current page number
          format: int32
          example: 1
        total_pages:
          type: integer
          description: Total number of pages
          format: int32
          example: 3
        next_page:
          type: integer
          description: Next page number
          format: int32
          nullable: true
          example: 2
        prev_page:
          type: integer
          description: Previous page number
          format: int32
          nullable: true
    PaginatedEmployerList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employer'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: PaginatedEmployerList model
    Employer:
      required:
        - address_line1
        - business_type
        - city
        - ein
        - id
        - lifecycle_events
        - metadata
        - name
        - pay_schedules
        - state
        - zip
      type: object
      properties:
        id:
          type: string
          description: The employer's unique identifier
          example: empl_01j2j3smtwx656y2tbqm7ty6gr
        onboarding_status:
          type: string
          description: The employer's onboarding status as an employer lifecycle event
          example: employees_invited
          enum:
            - onboarding_launched
            - quote_created
            - quote_finalized
            - payroll_connected
            - bank_account_connected
            - employees_invited
        name:
          type: string
          description: The employer's legal business name
          example: Acme Corp
        business_type:
          type: string
          description: The employer's business type
          example: c_corp
          enum:
            - c_corp
            - s_corp
            - llc
            - llp
            - partnership
            - sole_proprietorship
            - non_profit
        ein:
          type: string
          description: The employer's EIN (employer identification number)
          example: 12-3456789
        dba:
          type: string
          description: >-
            The employer's DBA (doing business as) name, if different from the
            employer's legal business name
          nullable: true
        address_line1:
          type: string
          description: The employer's address (line 1)
          example: 123 Main St
        address_line2:
          type: string
          description: The employer's address (line 2)
          nullable: true
        city:
          type: string
          description: The employer's city
          example: San Francisco
        state:
          type: string
          description: The employer's state
          example: CA
          enum:
            - AK
            - AL
            - AR
            - AZ
            - CA
            - CO
            - CT
            - DC
            - DE
            - FL
            - GA
            - HI
            - IA
            - ID
            - IL
            - IN
            - KS
            - KY
            - LA
            - MA
            - MD
            - ME
            - MI
            - MN
            - MO
            - MS
            - MT
            - NC
            - ND
            - NE
            - NH
            - NJ
            - NM
            - NV
            - NY
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VA
            - VT
            - WA
            - WI
            - WV
            - WY
        zip:
          type: string
          description: The employer's ZIP code, with optional +4
          example: '94108'
        phone_number:
          type: string
          description: The employer's phone number
          nullable: true
          example: '+14152370005'
        industry:
          type: string
          description: The employer's industry
          nullable: true
          example: professional_scientific_and_technical_services
          enum:
            - accommodation_and_food_services
            - administrative_and_support_and_waste_management_services
            - agriculture_forestry_fishing_and_hunting
            - arts_entertainment_and_recreation
            - construction
            - educational_services
            - finance_and_insurance
            - health_care_and_social_assistance
            - information_and_technology
            - management_of_companies_and_enterprises
            - manufacturing
            - mining_quarrying_and_oil_and_gas_extraction
            - other_services_except_public_administration
            - professional_scientific_and_technical_services
            - public_administration
            - real_estate_and_rental_and_leasing
            - retail_trade
            - transportation_and_warehousing
            - utilities
            - wholesale_trade
            - other
        lifecycle_events:
          type: array
          description: The employer's lifecycle events, ordered from oldest to newest
          items:
            $ref: '#/components/schemas/EmployerLifecycleEvent'
        pay_schedules:
          type: array
          description: The employer's pay schedules
          items:
            $ref: '#/components/schemas/PaySchedule'
        pricing:
          type: object
          description: The employer's pricing
          allOf:
            - $ref: '#/components/schemas/Pricing'
        metadata:
          type: object
          properties: {}
          description: >-
            Set of key-value pairs that you can attach to an API resource. This
            can be useful for storing additional information about the resource
            in a structured format.
          nullable: false
          example:
            key: value
      description: Employer model
    EmployerLifecycleEvent:
      required:
        - event_type
        - id
        - timestamp
      type: object
      properties:
        id:
          type: string
          description: The lifecycle event's unique identifier
          example: lcevent_01j2j3smtwx656y2tbqm7ty6gr
        event_type:
          type: string
          description: The type of lifecycle event
          example: employees_invited
          enum:
            - onboarding_launched
            - quote_created
            - quote_viewed
            - quote_finalized
            - payroll_connected
            - bank_account_connected
            - employees_invited
            - employer_renewed
            - employer_churned
            - first_employee_signed_up
            - first_employee_plan_selected
            - initial_enrollment_period_completed
        timestamp:
          type: string
          description: The ISO 8601 date and time the lifecycle event occurred
          example: '2024-11-01T00:00:00Z'
    PaySchedule:
      required:
        - active
        - bank_closure_strategy
        - frequency
        - id
        - name
        - start_date
      type: object
      properties:
        id:
          type: string
          description: Pay schedule ID
          example: paysch_1234
        name:
          type: string
          description: Pay schedule name
          example: Bi-Weekly Payroll
        reference_pay_date:
          type: string
          description: Reference pay date for weekly/bi-weekly schedules
          format: date
          nullable: true
          example: '2024-01-01'
        start_date:
          type: string
          description: Pay schedule start date
          format: date
          example: '2024-01-01'
        end_date:
          type: string
          description: Pay schedule end date
          format: date
          nullable: true
          example: '2024-12-31'
        frequency:
          type: string
          description: Pay schedule frequency
          example: bi_weekly
          enum:
            - monthly
            - semi_monthly
            - bi_weekly
            - weekly
        first_day:
          type: integer
          description: First pay day of the month (1-31, required for monthly/semi-monthly)
          format: int32
          nullable: true
          example: 15
        second_day:
          type: integer
          description: Second pay day of the month (1-31, required for semi-monthly)
          format: int32
          nullable: true
          example: 30
        bank_closure_strategy:
          type: string
          description: Strategy for handling bank closures (before/after/closest/ignore)
          example: before
          enum:
            - before
            - after
            - closest
            - ignore
        remote_id:
          type: string
          description: Remote ID from payroll integration
          nullable: true
          example: remote_123
        active:
          type: boolean
          description: Whether the pay schedule is active
          example: true
      description: PaySchedule model
    Pricing:
      type: object
      properties:
        platform_fee:
          type: object
          description: The employer's platform fee
          example:
            amount: 4500
            currency_code: USD
          allOf:
            - $ref: '#/components/schemas/Money'
    postEmployers:
      required:
        - address_line1
        - business_type
        - city
        - ein
        - email
        - name
        - state
        - zip
      type: object
      properties:
        email:
          type: string
          description: Email address for the employer's administrator
          example: admin@employer.test
        name:
          type: string
          description: Employer's legal business name
          example: Acme Corp
        business_type:
          type: string
          description: Employer's business type
          example: c_corp
          enum:
            - c_corp
            - s_corp
            - llc
            - llp
            - partnership
            - sole_proprietorship
            - non_profit
        ein:
          type: string
          description: Employer's EIN (Employer Identification Number)
          example: 12-3456789
        dba:
          type: string
          description: >-
            Employer's DBA (Doing Business As) name, if different from the
            employer's legal business name
          example: ''
        industry_code:
          type: string
          description: >-
            Employer's industry NAICS code (2-6 digits). Valid prefixes are: 11,
            21, 22, 23, 31, 32, 33, 42, 44, 45, 48, 49, 51, 52, 53, 54, 55, 56,
            61, 62, 71, 72, 81, 92
          example: '111110'
        address_line1:
          type: string
          description: Employer's address (line 1)
          example: 123 Main St
        address_line2:
          type: string
          description: Employer's address (line 2)
          example: ''
        city:
          type: string
          description: Employer's city
          example: San Francisco
        state:
          type: string
          description: Employer's state
          example: CA
          enum:
            - AK
            - AL
            - AR
            - AZ
            - CA
            - CO
            - CT
            - DC
            - DE
            - FL
            - GA
            - HI
            - IA
            - ID
            - IL
            - IN
            - KS
            - KY
            - LA
            - MA
            - MD
            - ME
            - MI
            - MN
            - MO
            - MS
            - MT
            - NC
            - ND
            - NE
            - NH
            - NJ
            - NM
            - NV
            - NY
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VA
            - VT
            - WA
            - WI
            - WV
            - WY
        zip:
          type: string
          description: Employer's ZIP code, with optional +4
          example: '94108'
        phone_number:
          type: string
          description: Employer's phone number
          example: 415-555-1212
        first_name:
          type: string
          description: First name of the employer administrator
          example: Jane
        last_name:
          type: string
          description: Last name of the employer administrator
          example: Smith
        offers_health_insurance_today:
          type: boolean
          description: Whether the employer offers health insurance today
          example: true
        current_health_insurance:
          type: object
          properties:
            individual_deductible:
              type: integer
              description: The individual deductible for the health insurance plan
              format: int32
              example: 1500
            individual_oop_max:
              type: integer
              description: >-
                The individual out-of-pocket maximum for the health insurance
                plan
              format: int32
              example: 5000
            network_type:
              type: string
              description: The network type for the health insurance plan (HMO, PPO, ...)
              example: hmo
              enum:
                - hmo
                - ppo
                - epo
                - pos
            metal_tier:
              type: string
              description: >-
                The metal tier for the health insurance plan (bronze, silver,
                gold...)
              example: silver
              enum:
                - catastrophic
                - bronze
                - expanded_bronze
                - silver
                - gold
                - platinum
          description: Current health insurance plan details
          example:
            individual_deductible: 1500
            individual_oop_max: 5000
            network_type: hmo
            metal_tier: silver
        coverage_start_date:
          type: string
          description: >-
            The desired start date for the employer's new health insurance
            coverage
          format: date
          example: '2027-01-01'
        pricing:
          type: object
          properties:
            platform_fee:
              type: object
              properties:
                amount:
                  type: number
                  description: The amount of the platform fee in cents
                  format: float
                  example: 4500
                currency_code:
                  type: string
                  description: The currency of the platform fee
                  example: USD
                  enum:
                    - USD
              description: The platform fee for the employer
              example:
                amount: 4500
                currency_code: USD
          description: >-
            The monthly pricing for the employer. Must be greater than the
            expected commission.
          example:
            platform_fee:
              amount: 4500
              currency_code: USD
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Set of key-value pairs that you can attach to an API resource. This
            can be useful for storing additional information about the resource
            in a structured format. Individual keys can be unset by posting an
            empty string value (`""`) to them. All keys can be unset by posting
            an empty object value (`{}`) to `metadata`.
          example:
            key: value
      description: Create an employer
    patchEmployersEmployerId:
      type: object
      properties:
        offers_health_insurance_today:
          type: boolean
          description: Whether the employer offers health insurance today
          example: true
        current_health_insurance:
          type: object
          properties:
            individual_deductible:
              type: integer
              description: The individual deductible for the health insurance plan
              format: int32
              example: 1500
            individual_oop_max:
              type: integer
              description: >-
                The individual out-of-pocket maximum for the health insurance
                plan
              format: int32
              example: 5000
            network_type:
              type: string
              description: The network type for the health insurance plan (HMO, PPO, ...)
              example: hmo
              enum:
                - hmo
                - ppo
                - epo
                - pos
            metal_tier:
              type: string
              description: >-
                The metal tier for the health insurance plan (bronze, silver,
                gold...)
              example: silver
              enum:
                - catastrophic
                - bronze
                - expanded_bronze
                - silver
                - gold
                - platinum
          description: Current health insurance plan details
          example:
            individual_deductible: 1500
            individual_oop_max: 5000
            network_type: hmo
            metal_tier: silver
        coverage_start_date:
          type: string
          description: >-
            The desired start date for the employer's new health insurance
            coverage
          format: date
          example: '2027-01-01'
        pricing:
          type: object
          properties:
            platform_fee:
              type: object
              properties:
                amount:
                  type: number
                  description: The amount of the platform fee in cents
                  format: float
                  example: 4500
                currency_code:
                  type: string
                  description: The currency of the platform fee
                  example: USD
                  enum:
                    - USD
              description: The platform fee for the employer
              example:
                amount: 4500
                currency_code: USD
          description: >-
            The monthly pricing for the employer. Must be greater than the
            expected commission.
          example:
            platform_fee:
              amount: 4500
              currency_code: USD
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Set of key-value pairs that you can attach to an API resource. This
            can be useful for storing additional information about the resource
            in a structured format. Individual keys can be unset by posting an
            empty string value (`""`) to them. All keys can be unset by posting
            an empty object value (`{}`) to `metadata`.
          example:
            key: value
      description: Update an employer
    postEmployersEmployerIdPaySchedules:
      required:
        - bank_closure_strategy
        - frequency
        - name
      type: object
      properties:
        name:
          type: string
          description: Readable name for the pay schedule
          example: Bi-Weekly Payroll
        frequency:
          type: string
          description: Pay frequency
          example: bi_weekly
          enum:
            - monthly
            - semi_monthly
            - bi_weekly
            - weekly
        bank_closure_strategy:
          type: string
          description: Strategy for handling bank closures
          example: before
          enum:
            - before
            - after
            - closest
            - ignore
        first_pay_date:
          type: string
          description: First pay date of the schedule
          format: date
          example: '2024-01-01'
        second_pay_date:
          type: string
          description: >-
            Second pay date of the schedule (only required for semi-monthly
            schedules)
          format: date
          example: '2024-01-15'
        start_date:
          type: string
          description: >-
            Start date for the pay schedule (defaults to employer's earliest
            coverage start date on creation)
          example: '2024-01-01'
        end_date:
          type: string
          description: End date for the pay schedule
          example: '2024-12-31'
        reference_pay_date:
          type: string
          description: Deprecated - use first_pay_date instead
          format: date
          example: '2024-01-15'
          deprecated: true
        first_day:
          maximum: 31
          minimum: 1
          type: integer
          description: Deprecated - use first_pay_date instead
          format: int32
          example: 1
          deprecated: true
        second_day:
          maximum: 31
          minimum: 1
          type: integer
          description: Deprecated - use second_pay_date instead
          format: int32
          example: 15
          deprecated: true
      description: Create a pay schedule
    patchEmployersEmployerIdPaySchedulesPayScheduleId:
      type: object
      properties:
        name:
          type: string
          description: Readable name for the pay schedule
          example: Bi-Weekly Payroll
        frequency:
          type: string
          description: Pay frequency
          example: bi_weekly
          enum:
            - monthly
            - semi_monthly
            - bi_weekly
            - weekly
        bank_closure_strategy:
          type: string
          description: Strategy for handling bank closures
          example: before
          enum:
            - before
            - after
            - closest
            - ignore
        first_pay_date:
          type: string
          description: First pay date of the schedule
          format: date
          example: '2024-01-01'
        second_pay_date:
          type: string
          description: >-
            Second pay date of the schedule (only required for semi-monthly
            schedules)
          format: date
          example: '2024-01-15'
        start_date:
          type: string
          description: >-
            Start date for the pay schedule (defaults to employer's earliest
            coverage start date on creation)
          example: '2024-01-01'
        end_date:
          type: string
          description: End date for the pay schedule
          example: '2024-12-31'
        reference_pay_date:
          type: string
          description: Deprecated - use first_pay_date instead
          format: date
          example: '2024-01-15'
          deprecated: true
        first_day:
          maximum: 31
          minimum: 1
          type: integer
          description: Deprecated - use first_pay_date instead
          format: int32
          example: 1
          deprecated: true
        second_day:
          maximum: 31
          minimum: 1
          type: integer
          description: Deprecated - use second_pay_date instead
          format: int32
          example: 15
          deprecated: true
      description: Update a pay schedule
    PaginatedEmployeeList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: PaginatedEmployeeList model
    Employee:
      required:
        - dependents
        - employer_id
        - first_name
        - id
        - last_name
        - metadata
        - zip
      type: object
      properties:
        id:
          type: string
          description: The employee's unique identifier
          example: employee_01j85kpd8yxkabyrm83d3h2ya3
        employer_id:
          type: string
          description: The identifier of the employer associated with the employee
          example: empl_01j2j3smtwx656y2tbqm7ty6gr
        personal_email:
          type: string
          description: >-
            The employee's personal email address. Unavailable if partner issues
            policies
          example: ana.diaz@gmail.test
        work_email:
          type: string
          description: >-
            The employee's work email address. Unavailable if partner issues
            policies
          example: ana.diaz@acme.test
        first_name:
          type: string
          description: The employee's first name
          example: Ana
        last_name:
          type: string
          description: The employee's last name
          example: Diaz
        enrollment_events:
          type: array
          description: >-
            The employee's enrollment events. Each enrollment event represents a
            separate opportunity for the employee to enroll in benefits.
          items:
            $ref: '#/components/schemas/EnrollmentEvent'
        pay_schedules:
          type: array
          description: The employee's pay schedule assignments
          items:
            $ref: '#/components/schemas/EmployeePaySchedule'
        member_id:
          type: string
          description: >-
            The identifier of the member associated with the employee, created
            when the employee enrolls in benefits
          example: mbr_01j85kpd8yxkabyrm83d3h2ya3
        invite_link:
          type: string
          description: >-
            The invite link for the employee, only present if the employee has
            been invited, has not signed up, and has an active enrollment event
          example: https://app.thatch.com/member/onboarding/welcome?invite_token=abc123
        date_of_birth:
          type: string
          description: The employee's date of birth in YYYY-MM-DD format
          format: date
          example: '1989-07-15'
        zip:
          type: string
          description: The employee's five-digit ZIP code
          example: '94103'
        dependents:
          type: array
          description: >-
            Dependents of the employee. Each entry contains relationship: spouse
            or child, and date of birth: MM-DD-YYYY string format.
          example:
            - relationship: spouse
              date_of_birth: '2012-04-04'
          items:
            $ref: '#/components/schemas/Dependent'
        native_employee_id:
          type: string
          description: >-
            The employee's identifier in the partner's payroll system. Used for
            deduplication when employees are created via census upload and later
            via API.
          example: EMP-12345
        metadata:
          type: object
          properties: {}
          description: >-
            Set of key-value pairs that you can attach to an API resource. This
            can be useful for storing additional information about the resource
            in a structured format.
          nullable: false
          example:
            key: value
      description: Employee model
    EnrollmentEvent:
      required:
        - end_date
        - plan_year
        - start_date
        - status
        - type
      type: object
      properties:
        type:
          type: string
          description: The enrollment event type
          example: open_enrollment
          enum:
            - ichra_invite
            - open_enrollment
            - special_enrollment
        subtype:
          type: string
          description: The enrollment event subtype
          example: renewal
        plan_year:
          type: integer
          description: The enrollment event's plan year
          format: int32
          example: 2024
        start_date:
          type: string
          description: Start date of the enrollment period, inclusive
          example: '2024-11-01'
        end_date:
          type: string
          description: End date of the enrollment period, inclusive
          example: '2024-11-30'
        status:
          type: string
          description: The enrollment event's status
          example: active
          enum:
            - active
            - in_progress
            - completed
            - inactive
    EmployeePaySchedule:
      required:
        - id
        - start_date
      type: object
      properties:
        id:
          type: string
          description: The id of the assigned pay schedule
          example: paysch_01k8ceyhq89b9c1nz141cca88f
        start_date:
          type: string
          description: >-
            Start date of the employee's assignment to this pay schedule in
            YYYY-MM-DD format
          format: date
          example: '2024-01-01'
        end_date:
          type: string
          description: >-
            End date of the employee's assignment to this pay schedule in
            YYYY-MM-DD format
          format: date
          example: '2024-12-31'
    Dependent:
      required:
        - date_of_birth
        - relationship
      type: object
      properties:
        relationship:
          type: string
          description: >-
            Relationship of the dependent to the prospect employee - has to be
            spouse or child
          example: spouse
        date_of_birth:
          type: string
          description: Date of birth of the dependent in YYYY-MM-DD format
          format: date
          example: '2012-04-04'
    postEmployees:
      required:
        - employer_id
        - first_name
        - last_name
        - date_of_birth
        - zip
      type: object
      properties:
        personal_email:
          type: string
          description: Employee's personal email address
        work_email:
          type: string
          description: Employee's work email address
        employer_id:
          type: string
          description: Employer ID
        first_name:
          type: string
          description: Employee's first name
        last_name:
          type: string
          description: Employee's last name
        employment_subtype:
          type: string
          description: Employee's employment subtype
          enum:
            - part_time
            - full_time
        pay_type:
          type: string
          description: Employee's pay type
          enum:
            - yearly
            - quarterly
            - monthly
            - semi_monthly
            - bi_weekly
            - weekly
            - daily
            - hourly
            - fixed
            - salary
        pay_rate:
          type: number
          description: Pay rate in case the employee is paid hourly
          format: float
        start_date:
          type: string
          description: Employee's start date in YYYY-MM-DD format
          format: date
        end_date:
          type: string
          description: Employee's end date in YYYY-MM-DD format
          format: date
        date_of_birth:
          type: string
          description: Employee's date of birth in YYYY-MM-DD format
          format: date
        zip:
          type: string
          description: Employee's five-digit ZIP code
          example: '90210'
        dependents:
          type: array
          items:
            required:
              - date_of_birth
              - relationship
            type: object
            properties:
              relationship:
                type: string
                description: Dependent relationship, spouse or child
                enum:
                  - spouse
                  - child
              date_of_birth:
                type: string
                description: Dependent's date of birth in YYYY-MM-DD format
                format: date
        pay_schedules:
          type: array
          description: Employee's assigned pay schedules
          items:
            required:
              - id
              - start_date
            type: object
            properties:
              id:
                type: string
                description: ID of the employee's assigned pay schedule
              start_date:
                type: string
                description: >-
                  Start date of employee's assignment to this pay schedule in
                  YYYY-MM-DD format
                format: date
              end_date:
                type: string
                description: >-
                  End date of employee's assignment to this pay schedule in
                  YYYY-MM-DD format
                format: date
        native_employee_id:
          type: string
          description: >-
            Employee's identifier in the partner's payroll system. Used for
            deduplication when employees are created via census upload and later
            via API.
          example: EMP-12345
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Set of key-value pairs that you can attach to an API resource. This
            can be useful for storing additional information about the resource
            in a structured format. Individual keys can be unset by posting an
            empty string value (`""`) to them. All keys can be unset by posting
            an empty object value (`{}`) to `metadata`.
          example:
            key: value
      description: Create an employee
    patchEmployeesId:
      type: object
      properties:
        personal_email:
          type: string
          description: Employee's personal email address
        work_email:
          type: string
          description: Employee's work email address
        first_name:
          type: string
          description: Employee's first name
        last_name:
          type: string
          description: Employee's last name
        employment_subtype:
          type: string
          description: Employee's employment subtype
          enum:
            - part_time
            - full_time
        pay_type:
          type: string
          description: Employee's pay type
          enum:
            - yearly
            - quarterly
            - monthly
            - semi_monthly
            - bi_weekly
            - weekly
            - daily
            - hourly
            - fixed
            - salary
        pay_rate:
          type: number
          description: Pay rate in case the employee is paid hourly
          format: float
        start_date:
          type: string
          description: Employee's start date in YYYY-MM-DD format
          format: date
        end_date:
          type: string
          description: Employee's end date in YYYY-MM-DD format
          format: date
        date_of_birth:
          type: string
          description: Employee's date of birth in YYYY-MM-DD format
          format: date
        zip:
          type: string
          description: Employee's five-digit ZIP code
          example: '90210'
        dependents:
          type: array
          items:
            required:
              - date_of_birth
              - relationship
            type: object
            properties:
              relationship:
                type: string
                description: Dependent relationship, spouse or child
                enum:
                  - spouse
                  - child
              date_of_birth:
                type: string
                description: Dependent's date of birth in YYYY-MM-DD format
                format: date
        pay_schedules:
          type: array
          description: Employee's assigned pay schedules
          items:
            required:
              - id
              - start_date
            type: object
            properties:
              id:
                type: string
                description: ID of the employee's assigned pay schedule
              start_date:
                type: string
                description: >-
                  Start date of employee's assignment to this pay schedule in
                  YYYY-MM-DD format
                format: date
              end_date:
                type: string
                description: >-
                  End date of employee's assignment to this pay schedule in
                  YYYY-MM-DD format
                format: date
        native_employee_id:
          type: string
          description: >-
            Employee's identifier in the partner's payroll system. Used for
            deduplication when employees are created via census upload and later
            via API.
          example: EMP-12345
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Set of key-value pairs that you can attach to an API resource. This
            can be useful for storing additional information about the resource
            in a structured format. Individual keys can be unset by posting an
            empty string value (`""`) to them. All keys can be unset by posting
            an empty object value (`{}`) to `metadata`.
          example:
            key: value
      description: Update an employee
    postEmployerOnboardingSessions:
      required:
        - employer
      type: object
      properties:
        employer:
          type: string
          description: ID of the employer to create an onboarding session for
          example: empl_01j2j3smtwx656y2tbqm7ty6gr
        email:
          type: string
          description: >-
            Email address of the admin to create the session for. When provided,
            a User and EmployerAdmin are created (or found) for this email.
        first_name:
          type: string
          description: >-
            First name of the admin (used when creating a new EmployerAdmin via
            email)
        last_name:
          type: string
          description: >-
            Last name of the admin (used when creating a new EmployerAdmin via
            email)
      description: Create an employer onboarding session
    EmployerOnboardingSession:
      required:
        - claim_url
        - employer
        - expires_at
      type: object
      properties:
        employer:
          type: string
          description: The employer's unique identifier
          example: empl_01j2j3smtwx656y2tbqm7ty6gr
        employer_admin_email:
          type: string
          description: The email address of the employer admin that the session is for
          example: admin@example.com
        claim_url:
          type: string
          description: >-
            The URL that should be wrapped in an iframe for the employer
            onboarding flow
          example: >-
            https://app.thatch.com/employer_onboarding_sessions/SR86rPsHKWp02FivyQ6Z4hgUN0VBz6RR/claim
        expires_at:
          type: string
          description: The time at which this session will expire (in ISO 8601 format)
          format: date-time
          example: '2024-09-11T12:50:46Z'
      description: EmployerOnboardingSession model
    PaginatedEnrollmentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Enrollment'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: PaginatedEnrollmentList model
    Enrollment:
      required:
        - broker
        - coverage_types
        - enrollment_coverages
        - id
        - member_id
        - plan_code
        - premium
        - status
        - status_events
      type: object
      properties:
        id:
          type: string
          description: The enrollment's unique identifier
          example: enrlmt_01j7h53qgy8m2q1f7563hbvpqj
        member_id:
          type: string
          description: >-
            The unique identifier for the member associated with the enrollment
            event
          example: mbr_01j7h53qa133q71z25n7a3w0n4
        coverage_types:
          type: array
          description: The types of benefits covered by the enrollment
          example:
            - medical
          items:
            type: string
        status:
          type: string
          description: The enrollment's status
          example: completed
          enum:
            - in_member_cart
            - member_confirmed
            - submission_processing
            - carrier_processing
            - completed
            - canceled
        status_events:
          type: array
          description: The enrollment's history of status change events
          items:
            $ref: '#/components/schemas/EnrollmentStatusEvent'
        plan:
          type: object
          description: The medical plan associated with the enrollment, if one exists
          allOf:
            - $ref: '#/components/schemas/MedicalPlan'
        plan_id:
          type: string
          description: Deprecated - use plan.id instead
          example: mdpln_01j7h53nf2j0hc5a235b6xmxn4
          deprecated: true
        plan_code:
          type: string
          description: The enrollment's external plan code or plan name.
          example: standard
        premium:
          type: object
          description: >-
            The enrollment's most recent premium. The premium can change over
            time, for example, if the employee's dependents change.
          allOf:
            - $ref: '#/components/schemas/Money'
        broker:
          type: object
          description: Detailed information about the broker associated with the enrollment
          allOf:
            - $ref: '#/components/schemas/Broker'
        enrollment_coverages:
          type: array
          description: >-
            Detailed information about each participant covered by the
            enrollment
          items:
            $ref: '#/components/schemas/EnrollmentCoverage'
      description: Enrollment model
    EnrollmentStatusEvent:
      required:
        - status
        - timestamp
      type: object
      properties:
        status:
          type: string
          description: The status that the enrollment changed to
          example: completed
          enum:
            - in_member_cart
            - member_confirmed
            - submission_processing
            - carrier_processing
            - completed
            - canceled
        timestamp:
          type: string
          description: The ISO 8601 date and time the enrollment's status changed
          example: '2024-11-01T00:00:00Z'
    MedicalPlan:
      required:
        - carrier_name
        - hsa_eligible
        - id
        - name
      type: object
      properties:
        id:
          type: string
          description: The ID of the medical plan
          example: mdpln_01j7h53nf2j0hc5a235b6xmxn4
        name:
          type: string
          description: The name of the plan
          example: Anthem Bronze 60 D HMO
        carrier_name:
          type: string
          description: The name of the carrier
          example: Anthem
        hsa_eligible:
          type: boolean
          description: Whether the plan is HSA eligible
          example: false
        logo_url:
          type: string
          description: The URL of the carrier logo
        sbc_url:
          type: string
          description: URL to the plan's SBC document
    Broker:
      required:
        - name
        - npn
      type: object
      properties:
        name:
          type: string
          description: The broker's name
          example: Thatch Health Insurance Services LLC
        npn:
          type: string
          description: The broker's National Producer Number (NPN)
          example: '20782309'
    EnrollmentCoverage:
      required:
        - date_of_birth
        - end_date
        - first_name
        - gender
        - last_name
        - relationship
        - start_date
      type: object
      properties:
        first_name:
          type: string
          description: The enrolled participant's first name
          example: Ana
        last_name:
          type: string
          description: The enrolled participant's last name
          example: Diaz
        relationship:
          type: string
          description: The relationship of the enrolled participant to the member
          example: self
          enum:
            - self
            - spouse
            - child
        date_of_birth:
          type: string
          description: The enrolled participant's date of birth in YYYY-MM-DD format
          format: date
          example: '1990-01-02'
        gender:
          type: string
          description: The enrolled participant's gender
          example: female
          enum:
            - female
            - male
            - non_binary
        start_date:
          type: string
          description: Start date of the coverage period (inclusive)
          example: '2024-05-01'
        end_date:
          type: string
          description: End date of the coverage period (inclusive)
          example: '2024-12-31'
    PaginatedMemberList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Member'
        pagination:
          $ref: '#/components/schemas/Pagination'
      description: PaginatedMemberList model
    Member:
      required:
        - address_line1
        - city
        - date_of_birth
        - employee_id
        - first_name
        - id
        - last_name
        - state
        - zip
      type: object
      properties:
        id:
          type: string
          description: The member's unique identifier
          example: mbr_01j85kpd8yxkabyrm83d3h2ya3
        employee_id:
          type: string
          description: The unique identifier for the employee associated with the member
          example: employee_01j7h53r7gpd0q0wtx4pcfcska
        first_name:
          type: string
          description: The member's first name
          example: Ana
        last_name:
          type: string
          description: The member's last name
          example: Diaz
        address_line1:
          type: string
          description: The member's address (line 1)
          example: 123 Main St
        address_line2:
          type: string
          description: The member's address (line 2)
        city:
          type: string
          description: The member's city
          example: San Francisco
        state:
          type: string
          description: The member's state
          example: CA
          enum:
            - AK
            - AL
            - AR
            - AZ
            - CA
            - CO
            - CT
            - DC
            - DE
            - FL
            - GA
            - HI
            - IA
            - ID
            - IL
            - IN
            - KS
            - KY
            - LA
            - MA
            - MD
            - ME
            - MI
            - MN
            - MO
            - MS
            - MT
            - NC
            - ND
            - NE
            - NH
            - NJ
            - NM
            - NV
            - NY
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VA
            - VT
            - WA
            - WI
            - WV
            - WY
        zip:
          type: string
          description: The member's ZIP code, with optional +4
          example: '94108'
        date_of_birth:
          type: string
          description: The member's date of birth in YYYY-MM-DD format
          format: date
          example: '1989-07-15'
        allowance:
          type: object
          description: The member's current ICHRA allowance
          example:
            amount: 65000
            currency_code: USD
          allOf:
            - $ref: '#/components/schemas/Money'
        balance:
          type: object
          description: The member's current ICHRA account balance
          example:
            amount: 4500
            currency_code: USD
          allOf:
            - $ref: '#/components/schemas/Money'
      description: Member model
  securitySchemes:
    Bearer:
      type: apiKey
      description: >-
        Provide your API key in a `Bearer` token header (as in, **Bearer
        sk_123**).
      name: Authorization
      in: header
x-original-swagger-version: '2.0'
